.contact-page {
  position: absolute;
}

.contact-card-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
  font-weight: 300;
}

.contact-card--item {
  display: flex;
  padding: 8px 0;
}

.contact-card--item > .title {
  margin-right: 60px;
  width: 100px;
}

.contact-card--item > .content a {
  color: #644118;
  cursor: pointer;
  position: relative;
}

.contact-card--item > .content a::after {
  content: '';
  width: 0%;
  height: 1px;
  background-color: #644118;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
  text-decoration: none;
}

.contact-card--item > .content a:hover::after {
  width: 100%;
}
