.introduction-page {
  margin: 60px 40px;
  position: absolute;
  max-width: 90%;
}

.introduction-page > h1 {
  font-size: 4em;
  color: #d1ab7e;
  text-shadow: 2px 2px 3px lightgrey;
}

.introduction-page > p {
  font-size: 1.3em;
  color: #4d4c4c;
  font-weight: 200;
}

.introduction-page > p:last-child {
  font-weight: 300;
}
