@import './normalize.css';

:root {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, optional;
  --text-primary: #3e3e3c;
  --text-seconday: #644118;
  --bg-primary: #b59666;
  --bg-white: rgb(255 255 255 / 70%);
}
* {
  line-height: 1.4em;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.layout-icon-wrapper {
  width: 32px;
  height: 32px;
}
