@import './normalize.css';
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4em;
}

.layout-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.bg-cover {
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(255 255 255 / 60%);
}

.layout-menu-container {
    flex: 0 1 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255 / 70%);
}

.layout-menu--information {
    display: flex;
    padding: 0 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout-menu--information .name {
    font-weight: 500;
    font-size: 20px;
}

.layout-menu--information .title {
    color: #6e6d6d;
}

.layout-menu---information-avatar {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 200px;
    height: 200px;
}

.image-avatar {
    background-image: url('../images/avatar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-blend-mode: overlay;
}

.layout-menu--navigation-wrapper {
    margin-top: 24px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.layout-menu--navigation-item {
    transition: all 0.3s linear;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #6e6d6d;
}

/* .layout-menu--navigation-item>a {
    text-decoration: none;
    color: #6e6d6d;
} */

.layout-menu--navigation-item:hover {
    background-color: #b59666;
    color: #000000;
}

.layout-menu--navigation-item.portfolio-active, .layout-menu--navigation-item.contact-active, .layout-menu--navigation-item.cv-active {
    background-color: #b59666;
    color: #000000;
}

/* .layout-menu--navigation-item:hover>a {
    color: #000000;
} */

.layout-content {
    flex: 1;
    padding: 20px 40px
}

.introduction-page {
    margin: 60px 40px;
    animation: appear 1.5s;
}

.introduction-page>h1 {
    font-size: 3em;
    color: #644118;
}

.introduction-page>p {
    font-size: 1.3em;
    color: #4d4c4c;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}